/* makes the font 33% larger relative to the icon container */
.icon-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.icon-2x {
    font-size: 2em;
}
.icon-3x {
    font-size: 3em;
}
.icon-4x {
    font-size: 4em;
}
.icon-5x {
    font-size: 5em;
}
.icon-fw {
    width: 1.28571429em;
    text-align: center;
}
.icon-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}
.icon-ul > li {
    position: relative;
}
.icon-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}
.icon-li.icon-lg {
    left: -1.85714286em;
}
.icon-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}
.icon-pull-left {
    float: left;
}
.icon-pull-right {
    float: right;
}
[class^="ps-font-icon-"].icon-pull-left, [class*=" ps-font-icon-"].icon-pull-left {
    margin-right: .3em;
}
[class^="ps-font-icon-"].icon-pull-right, [class*=" ps-font-icon-"].icon-pull-right {
    margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
[class^="ps-font-icon-"].pull-left, [class*=" ps-font-icon-"].pull-left {
    margin-right: .3em;
}
[class^="ps-font-icon-"].pull-right, [class*=" ps-font-icon-"].pull-right {
    margin-left: .3em;
}

.icon-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.icon-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.icon-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.icon-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.icon-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
    filter: none;
}
.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.icon-stack-1x {
    line-height: inherit;
}
.icon-stack-2x {
    font-size: 2em;
}
.icon-inverse {
    color: #ffffff;
}