.k-sprite {
    background-image: url("../images/coloricons-sprite.png");
}
.ps-image-icon-title-sprite {
    background-image: url("../images/coloricons-sprite.png");
}

.ps-image-icon-title-icon {
    background-image: url("../images/coloricons-sprite.png");
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-right: 3px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: top;
    -ms-high-contrast-adjust: none;
    background-position: -16px -120px;
}